.container {
  max-width: 1260px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 100px auto;
  align-items: center;
  flex-direction: column;
}

.app-segment {
  width: 100%;
}

.segment-column {
  padding: 80px !important;
  display: flex !important;
  align-items: center !important;
  .summary-title {
    display: flex !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}